
    <!-- Static navbar -->
          <nav class="navbar">
           
            
               <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://spruceinfotech.myinetpage.com/img/logo.png"><img src="http://spruceinfotech.myinetpage.com/img/logo.png"></a>
              </div>
            
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://spruceinfotech.myinetpage.com/index.html">Home</a></li>
                    <li><a routerLink="/jobseeker" routerLinkActive="active">JobSeeker</a></li>
                    <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
                    <li><a class="dropdown dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" routerLink="#" routerLinkActive="active">Company</a>
                    
                       <ul class="dropdown-menu">
                      <li><a routerLink="/aboutus" routerLinkActive="active">About Us</a></li>
                      <li><a routerLink="/clients" routerLinkActive="active">Clients</a></li>
                      <li><a routerLink="/testimonials" routerLinkActive="active">Testimonials</a></li>
                      <li><a routerLink="/diversity" routerLinkActive="active">Diversity</a></li>
                      <li><a routerLink="/culture" routerLinkActive="active">Culture</a></li>
                      <li><a routerLink="/events" routerLinkActive="active">NewsEvents</a></li>
                      <li><a routerLink="/locations" routerLinkActive="active">Locations</a></li>                      
                      
                      <li><a routerLink="/blog-add">Create blog post</a></li>
                    </ul>
                    
                    </li>

                    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                    
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Login</a></li>
                      <li><a href="#">Register</a></li>
                      <li><a routerLink="/blog-add">Create blog post</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
             
          </nav>